.form {
    max-width: 50vh;
    margin: 1vh;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.submit {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}